[submodule "dojo"]
	path = dojo
	url = https://github.com/dojo/dojo.git
[submodule "client/dijit"]
	path = client/dijit
	url = https://github.com/dojo/dijit.git
[submodule "util"]
	path = util
	url = https://github.com/dojo/util.git
[submodule "client/dgrid"]
	path = client/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "client/put-selector"]
	path = client/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "client/xstyle"]
	path = client/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "server/test/data/epic"]
	path = server/test/data/epic
	url = https://github.com/brandonpayton/epictest.git
