[submodule "client/dojo"]
	path = client/dojo
	url = https://github.com/dojo/dojo.git
[submodule "client/dijit"]
	path = client/dijit
	url = https://github.com/dojo/dijit.git
[submodule "client/dojox"]
	path = client/dojox
	url = https://github.com/dojo/dojox.git
[submodule "client/util"]
	path = client/util
	url = https://github.com/dojo/util.git
[submodule "client/dgrid"]
	path = client/dgrid
	url = git://github.com/SitePen/dgrid.git
[submodule "client/put-selector"]
	path = client/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "client/xstyle"]
	path = client/xstyle
	url = git://github.com/kriszyp/xstyle.git
