@import '../../dijit/themes/tundra/tundra.css';
@import '../../dgrid/css/dgrid.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
.news-app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.feedPropertiesDialog label {
  display: block;
  margin-left: auto;
  text-align: right;
}
.feedPropertiesDialog .controlContainer {
  width: 20em;
  display: inline-block;
  text-align: left;
}
.feedPropertiesDialog .dijitTextBox {
  margin-right: auto;
}
.feedPropertiesDialog .controlContainer .dijitTextBox {
  width: 100%;
}
.dialogButtons {
  text-align: center;
}
.article-unread {
  font-weight: bold;
}
.dgrid {
  border-collapse: collapse;
  width: 100%;
}
article {
  width: 100%;
  border-bottom: 1px solid #008000;
}
article header {
  background-color: #ddd;
  padding: 0.4em;
}
article header > h1 {
  display: inline;
}
article .date {
  float: right;
}
article .content {
  display: none;
  font-size: small;
}
article .content h1 {
  font-size: large;
}
article .content .author:before {
  content: "by ";
}
article .content .author {
  display: block;
  font-size: small;
}
article.open .content {
  display: block;
}

