<div>
    <label>URL
        <div class="controlContainer">
            <input type="text" name="url"
                data-dojo-type="dijit/form/TextBox"
                data-dojo-attach-point="urlBox"
                >
        </div>
    </label>
    <label>Tags
        <div class="controlContainer">
            <input type="text" name="tags"
                data-dojo-type="dijit/form/TextBox"
                data-dojo-attach-point="tagsBox"
                >
        </div>
    </label>
    <footer class="dialog-buttons">
        <button type="submit" data-dojo-type="dijit/form/Button">OK</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: onCancel">Cancel</button>
    </footer>
</div>
