<div>
    <label>URL
        <div class="controlContainer">
            <input type="text" name="url"
                data-dojo-type="dijit/form/TextBox"
                data-dojo-attach-point="urlBox"
                >
        </div>
    </label>
    <!-- TODO: Is this a correct use of fieldset? -->
    <fieldset class="dialogButtons">
        <button type="submit" data-dojo-type="dijit/form/Button">OK</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: onCancel">Cancel</button>
    </fieldset>
</div>
