<div>
    <div data-dojo-type="dijit/Toolbar">
        <button
            data-dojo-type="dijit/form/Button"
            data-dojo-attach-event="onClick: handleAddClick"
            >Add</button>
        <button
            data-dojo-type="dijit/form/Button"
            data-dojo-attach-event="onClick: handleEditClick"
            >Edit</button>
        <button
            data-dojo-type="dijit/form/Button"
            data-dojo-attach-event="onClick: handleRemoveClick"
            >Remove</button>
    </div>
    <div data-dojo-attach-point="feedListElement"></div>
</div>
